body{
    font-family: 'Bitter', sans-serif;
    color: black;
    background: rgb(236, 202, 230);
  
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  header{
    height: 310px;
  }
  .perfil{
    width: 200px;
    border-radius: 50%;
    border-bottom: solid 5px black;
    border-left: solid 5px black;
    display: block;
    margin: 20px auto;
  }
  .ig{
    text-align: center;
    margin-top: 2px;
    
  }
  nav ul li{
    display: inline-block;
  }
  
  ul li a img{
    width: 40px;
    padding: 3px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  nav ul{
    padding: 0;
    text-align: center;
    margin: 0;
  }
  section{
    text-align: center;
  }
  section p{
      padding-left: 30px;
      padding-right: 30px;
      margin: 0;
  }
  .wrapper {
    flex: 1;
  }
  div ul{
    padding-left: 0;
    margin-bottom: 0;
  }
  div ul li{
    padding-bottom: 13px;
    padding-top: 22px;
    list-style-type: none;
  }
  .btn{
  background: white;
  font-family: 'Bitter', monospace;
  text-decoration: none;
  padding: 15px;
  border: solid 2px black;
  box-shadow: -4px 5px 0px black;
  color: black;
  transition: 0.5s;
  }
  .btn:hover{
    border: solid 2px black;
    box-shadow: 1px 5px 0px black;
  }
  footer{
    text-align: center;
    font-family: 'Bitter', monospace;
    border-top: solid 1px black;
    height: 40px;
  }
  